body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.NormalChart {
  width: 100%;
  display: block;
  overflow: hidden;
  height: 100%;
}

.globalFrameWrapper::-webkit-scrollbar {
  display:none;
}

.close {
  position: absolute;
  right: 0.8rem;
  cursor: pointer;
}

.three {
  position: absolute;
  right: 3rem;
  cursor: pointer;
}